.slider{
    &--accent_caprion {
        font-size: 18px;
        font-weight: 700;
        line-height: 2.67;
        letter-spacing: 1.8px;
        &-green {
            color: $mid-green;
        }
        &-position_topSlider {
            margin-bottom: 22px;
        }
    }
    &--gen_caption {

    }
    &--main_text {

    }
}

.slide_contant {
    max-width: 500px;
}