.slider{
    &--accent_caprion {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.8px;
        &-green {
            color: $mid-green;
        }
        &-position_topSlider {
            margin-bottom: 22px;
        }
    }
}

.slide_contant {
    max-width: 500px;
}

@media (max-width: 650px){
    .slider{
        &--accent_caprion {
            &-position_topSlider {
                margin-bottom: 10px;
            }
        }
    }
}