.slider {
  position: relative;
  height: 800px;
  overflow: hidden;
  &--container {
      z-index: 0;
  }
  &--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px 98px 175px;
  }

  &--pagination {
    position: absolute;
    bottom: 20px !important;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
  }
}

@media (max-width: 650px){
  
  .slider {
    height: 600px;
    &--item {
      padding: 45px 49px 75px;
    }
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: .8s;
  
}

.swiper-pagination-bullet-active {
  transform: scale(1.2);
  background: $black;
}
