.top_slider {
  height: 800px;
  overflow: hidden;
  &--container {
      z-index: 0;
  }
  &--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px 98px 175px;
  }
}

@media (max-width: 650px){
  
  .top_slider {
    height: 600px;
    &--item {
      padding: 45px 49px 75px;
    }
  }
}