.btn {
  display: inline-block;
  border-radius: 22.5px;
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: $white;
  padding: 10px 30px;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  transition: 0.2s;

  i {
    opacity: 0;
    transition: 0.2s;
    position: relative;
    right: -7px;
  }

  &:hover i {
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.caption {
  &-segment {
    font-size: 36px;
    font-weight: bold;
    color: $brownish-grey;
    &:hover {
      color: $black;
    }

    &-black {
      color: $black;
    }
    &-position_exclusive {
      margin-bottom: 22px;
    }
  }
  &-slider {
    font-size: 62px;
    font-weight: 100;
    line-height: 62px;
    color: $black;
    &-position_topSlider {
      margin-bottom: 34px;
    }
    &-mobile {
      text-transform: uppercase;
      margin-bottom: 20px;
      @media (max-width:650px) {
        font-size: 48px;
      }
    }
  }
}

.main_text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: $brownish-grey;
  &-position_topSlider {
    margin-bottom: 32px;
  }
  &-position_exclusive {
    margin-bottom: 30px;
  }
}

.exploreAll {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 3.6px;
  .arrow {
    opacity: 0;
    padding-left: 12px;
    transition: .2s;
  }
  &:hover {
    .arrow {
      opacity: 1;
    }
  }
}


.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 650px){
  .caption {
    &-slider {
      &-position_topSlider {
        margin-bottom: 15px;
      }
    }
  }
}

.accent_caption {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  &-green {
      color: $mid-green;
  }
  &-blue {
    color: $dark-sky-blue;
  }
  &-position_topSlider {
      margin-bottom: 22px;
  }
  &-position_exclusive {
    margin-bottom: 20px;
  }
  &-bottomSpace {
    margin-bottom: 20px;
  }
}