/* Color palette */
$warm-grey: #8c8c8c;
$black: #212121;
$brownish-grey: #6c6c6c;
$tomato: #e53935;
$dark-sky-blue: #1e88e5;
$mid-green: #43a047;
$white: #ffffff;
$background-footer: #f7f7f7;

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    &:hover {
        cursor: default
    }
}

a {
text-decoration: none;
color: $black;
}