@import '_var.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

@import '_general.scss';
@import 'block/_header.scss';
@import 'block/_slider_main.scss';
@import 'block/_top_slider.scss';