@import '_var.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

@import '_general.scss';
@import 'block/_header.scss';
@import 'block/_slider_main.scss';
@import 'block/_top_slider.scss';
@import 'block/_feature.scss';
@import 'block/_exclusive.scss';
@import 'block/_trending.scss';
@import 'block/_mobile.scss';
@import 'block/_comment.scss';
@import 'block/_catalog.scss';

@import 'block/_footer.scss';