/* Color palette */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  cursor: default;
}

a {
  text-decoration: none;
  color: #212121;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.btn {
  display: inline-block;
  border-radius: 22.5px;
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  transition: 0.2s;
}

.btn i {
  opacity: 0;
  transition: 0.2s;
  position: relative;
  right: -7px;
}

.btn:hover i {
  opacity: 1;
}

.btn:active {
  transform: scale(0.95);
}

.caption-segment {
  font-size: 36px;
  font-weight: bold;
  color: #6c6c6c;
}

.caption-segment:hover {
  color: #212121;
}

.caption-segment-black {
  color: #212121;
}

.caption-segment-position_exclusive {
  margin-bottom: 22px;
}

.caption-slider {
  font-size: 62px;
  font-weight: 100;
  line-height: 62px;
  color: #212121;
}

.caption-slider-position_topSlider {
  margin-bottom: 34px;
}

.main_text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #6c6c6c;
}

.main_text-position_topSlider {
  margin-bottom: 32px;
}

.main_text-position_exclusive {
  margin-bottom: 30px;
}

.exploreAll {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 3.6px;
}

.exploreAll .arrow {
  opacity: 0;
  padding-left: 12px;
  transition: .2s;
}

.exploreAll:hover .arrow {
  opacity: 1;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .caption-slider-position_topSlider {
    margin-bottom: 15px;
  }
}

.accent_caption {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.accent_caption-green {
  color: #43a047;
}

.accent_caption-blue {
  color: #1e88e5;
}

.accent_caption-position_topSlider {
  margin-bottom: 22px;
}

.accent_caption-position_exclusive {
  margin-bottom: 20px;
}

.header {
  padding: 45px 98px 0;
  max-width: 1366px;
  margin: 0 auto;
}

.position_header_general {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  display: inline-block;
  width: 185px;
  height: 47px;
  background: url("../img/logo.png") center center no-repeat;
  transition: 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.nav--link {
  display: inline-block;
  padding: 10px 13px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #8c8c8c;
  text-decoration: none;
  border-bottom: 3px solid rgba(33, 33, 33, 0);
  transition: .2s;
}

.nav--link:hover {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.nav-postion_header_general {
  float: right;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 200ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.bar-position {
  display: none;
  float: right;
}

@media (max-width: 870px) {
  .nav--link {
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(33, 33, 33, 0.05);
  }
  .nav--link:hover {
    border-bottom: 1px solid #212121;
  }
  .nav-postion_header_general {
    position: fixed;
    left: 0;
    right: 0;
    top: 95px;
  }
  .bar-position {
    display: block;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 45px 49px 0;
  }
}

.slide_contant {
  max-width: 500px;
}

@media (max-width: 650px) {
  .slider--accent_caprion-position_topSlider {
    margin-bottom: 10px;
  }
}

.top_slider {
  height: 800px;
  overflow: hidden;
}

.top_slider--container {
  z-index: 0;
}

.top_slider--item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 45px 98px 175px;
}

@media (max-width: 650px) {
  .top_slider {
    height: 600px;
  }
  .top_slider--item {
    padding: 45px 49px 75px;
  }
}

.headerFeature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerFeature--link {
  display: inline-block;
  padding: 10px 10px 13px;
  border-bottom: 1px solid #6c6c6c;
  transition: 0.2s;
}

.headerFeature--link:hover {
  border-color: #212121;
}

.headerFeature--link.active {
  padding: 10px;
  color: #212121;
  border-bottom: 4px solid #212121;
}

.headerFeature-position_feature {
  margin-bottom: 50px;
}

.feature {
  padding: 110px 98px;
}

.feature--card {
  width: 270px;
  height: 270px;
  position: relative;
}

@media (max-width: 440px) {
  .feature--card {
    width: 100%;
    height: 270px;
  }
}

.feature--cardContent {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 32px;
  opacity: 0;
  transition: 0.3s;
}

.feature--cardContent:hover {
  opacity: 1;
}

.feature--arrow {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  transition: .2s;
}

.feature--arrow:active {
  transform: scale(0.9);
}

.feature--captionCard {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
}

.feature--textCard {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: center;
}

.feature--card {
  margin-bottom: 10px;
}

.feature .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .feature .main {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .feature {
    padding: 80px 49px;
  }
}

.exclusive {
  display: flex;
}

@media (max-width: 683px) {
  .exclusive {
    display: block;
  }
}

.exclusive_card {
  padding: 50px;
  width: 50%;
  height: 683px;
  display: flex;
  align-items: center;
}

@media (max-width: 683px) {
  .exclusive_card {
    width: 100%;
  }
}

.trending {
  padding: 110px 98px;
}

.trending--card {
  display: block;
  margin-bottom: 20px;
  width: 370px;
  height: 370px;
  transition: .2s;
}

@media (max-width: 935px) {
  .trending--card {
    width: 270px;
    height: 270px;
  }
}

.trending--card:hover {
  transform: scale(1.05);
}

.trending .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1305px) {
  .trending .main {
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  .trending {
    padding: 55px 49px;
  }
}

.footer {
  background: #f7f7f7;
  padding: 120px 98px 30px;
  color: #6c6c6c;
}

.footer--copyright {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  letter-spacing: 0.6px;
}

.footer--copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--social {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.footer--social-link {
  width: 28px;
  height: 28px;
  color: #ffffff;
  background: #6c6c6c;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  transition: .3s;
}

.footer--social-link:hover {
  transform: scale(1.15);
}
/*# sourceMappingURL=main.css.map */