doctype
html(lang="ru")
  include pug_modul/head
  title= "Каталог"
  body
    .container
      header
        .header.header-catalog
          a.logo(href="index.html")
          include pug_modul/hum
          nav.nav.nav-postion_header_general.js-menu
            a.nav--link(href="index.html") Home
            a.nav--link(href="products.html") Products
            a.nav--link(href="history.html") History
            a.nav--link(href="showroom.html") Showroom
            a.nav--link(href="contact.html") Contact
          h1.caption-slider.caption-slider-catalog Catalog
      include pug_modul/catalog
      include pug_modul/footer
    include pug_modul/script
