doctype
html(lang="ru")
  include pug_modul/head
  title= "Комментарии"
  body
    .container
      include pug_modul/header
      include pug_modul/general/top_slider
      include pug_modul/comment

      include pug_modul/footer
    include pug_modul/script
