doctype
html(lang="ru")
  include pug_modul/head
  body
    .container
      include pug_modul/header
      include pug_modul/general/top_slider
      include pug_modul/general/feature
      include pug_modul/general/exclusive
      include pug_modul/general/trending
      // bower:js
      // endbower
      script(src="js/main.js")
