.footerBlock.footerBlock-rightColumn.footerBlock-bottomSpace
  h3.footerBlock--caption.footerBlock--caption-bottomSpace Let&rsquo;s Stay in&nbsp;Touch!
  p.footerBlock--text.footerBlock--text-bottomSpace Suscribe to know about our latest news, products and special offers just for suscribers.
  form(action="").footer--form
    input.footer--email(type="email", placeholder="your email address")
    button.footer--button
      <i class="far fa-paper-plane"></i>