.footerBlock.footerBlock-bottomSpace
  h3.footerBlock--caption.footerBlock--caption-bottomSpace Useful Information
  .userful
    .userful--link_block
      a.userful--link(href="#") Sales terms
      a.userful--link(href="#") Customer care
      a.userful--link(href="#") Delivery
    .userful--link_block
      a.userful--link(href="#") Architect accounts
      a.userful--link(href="#") Careers
      a.userful--link(href="#") Exchanges &amp;&nbsp;returns