.swipper-container.slider.js-slider-bot
  .swiper-wrapper.slider--container
    .swiper-slide.slider--item(style="background: url('img/general/Slider_2.jpg')")
      .slide_contant
        h4.accent_caption.accent_caption-green.accent_caption-position_topSlider Trending
        h2.caption-slider.caption-slider-position_topSlider Fishnet Chair
        p.main_text.main_text-position_topSlider Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum qui aut id? Natus doloremque,   |dolor quis dicta incidunt quod sit? Voluptate optio culpa voluptatibus odio vel corporis dicta dolorem aliquam eos ut delectus |laboriosam necessitatibus
        a(href="#").btn order us <i class="fas fa-angle-right"></i>
    .swiper-slide.slider--item(style="background: url('img/general/Slider_1.jpg')")
      .slide_contant
        h4.accent_caption.accent_caption-green.accent_caption-position_topSlider Trending
        h2.caption-slider.caption-slider-position_topSlider Fishnet Chair
        p.main_text.main_text-position_topSlider Seat and back with upholstery made of cold cure foam. 
          |Steel frame, available in matt powder-coated black
          |or highly polished chrome.
        a(href="#").btn order us <i class="fas fa-angle-right"></i>
  .slider--pagination

