.exclusive
  .exclusive_card(style="background: url(img/general/promo/product_1.jpg) center center")
    article.exclusive_description
      h4.accent_caption.accent_caption-blue.accent_caption-position_exclusive exclusive
      h3.caption-segment.caption-segment-black.caption-segment-position_exclusive Fishnet Chair
      p.main_text.main_text-position_exclusive Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
        |powder-coated black or highly polished chrome.
      a(href="#").btn order us <i class="fas fa-angle-right"></i>
  .exclusive_card(style="background: url(img/general/promo/product_2.jpg) center center")
    article.exclusive_description
      h4.accent_caption.accent_caption-blue.accent_caption-position_exclusive exclusive
      h3.caption-segment.caption-segment-black.caption-segment-position_exclusive Fishnet Chair
      p.main_text.main_text-position_exclusive Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
        |powder-coated black or highly polished chrome.
      a(href="#").btn order us <i class="fas fa-angle-right"></i>