.feature 
    header.headerFeature.headerFeature-position_feature
        span
            a.caption-segment.headerFeature--link.active(href="#") Feature
            a.caption-segment.headerFeature--link(href="#") New
        a.exploreAll(href="#") Explore all
            span.arrow <i class="fas fa-angle-right"></i>
    .main
        .feature--card(style="background: url('img/general/feature/product_1.jpg') center center")
            .feature--cardContent
                div
                    a.feature--arrow(href="#") <i class="fas fa-angle-right"></i>
                    h4.feature--captionCard Fishnet Chair
                    p.feature--textCard Seat and back with upholstery made of cold cure foam
                        |. Steel frame, available in matt powder-coated black
        .feature--card(style="background: url('img/general/feature/product_2.jpg') center center")
            .feature--cardContent
                div
                    a.feature--arrow(href="#") <i class="fas fa-angle-right"></i>
                    h4.feature--captionCard Fishnet Chair
                    p.feature--textCard Seat and back with upholstery made of cold cure foam
                        |. Steel frame, available in matt powder-coated black
        .feature--card(style="background: url('img/general/feature/product_3.jpg') center center")
            .feature--cardContent
                div
                    a.feature--arrow(href="#") <i class="fas fa-angle-right"></i>
                    h4.feature--captionCard Fishnet Chair
                    p.feature--textCard Seat and back with upholstery made of cold cure foam
                        |. Steel frame, available in matt powder-coated black
        .feature--card(style="background: url('img/general/feature/product_4.jpg') center center")
            .feature--cardContent
                div
                    a.feature--arrow(href="#") <i class="fas fa-angle-right"></i>
                    h4.feature--captionCard Fishnet Chair
                    p.feature--textCard Seat and back with upholstery made of cold cure foam
                        |. Steel frame, available in matt powder-coated black
    