section.trending
  header.headerFeature.headerFeature-position_feature
    h3.caption-segment.caption-segment-black Trending Products
    a.exploreAll(href="#") Explore all
      span.arrow <i class="fas fa-angle-right"></i>
  .main
    a.trending--card(href="#",style="background: url(img/general/trending/product-1.jpg) center center no-repeat")
    a.trending--card(href="#",style="background: url(img/general/trending/product-2.jpg) center center no-repeat")
    a.trending--card(href="#",style="background: url(img/general/trending/product-3.jpg) center center no-repeat")
    a.trending--card(href="#",style="background: url(img/general/trending/product-4.jpg) center center no-repeat")
    a.trending--card(href="#",style="background: url(img/general/trending/product-5.jpg) center center no-repeat")
    a.trending--card(href="#",style="background: url(img/general/trending/product-6.jpg) center center no-repeat")