main.catalog
  .products.products-flex
    .products--card(id="1")
      a(href="")
        img(src="assets/base/products/small/product-1.jpg", alt="Подвесная лампа")
    .products--card(id="2")
      a(href="")
        img(src="assets/base/products/small/product-2.jpg", alt="Подвесная лампа")
    .products--card(id="3")
      a(href="")
        img(src="assets/base/products/small/product-3.jpg", alt="Подвесная лампа")
    .products--card(id="3")
      a(href="")
        img(src="assets/base/products/small/product-3.jpg", alt="Подвесная лампа")