footer
    .footer

        .footer--copy
            .footer--copyright &copy; Copyright - INTERIOR 2016. All Rights Reserved.
            .footer--social 
                a.footer--social-link(href="#") <i class="fab fa-facebook-f"></i>
                a.footer--social-link(href="#") <i class="fab fa-twitter"></i>
                a.footer--social-link(href="#") <i class="fab fa-google-plus-g"></i>
                a.footer--social-link(href="#") <i class="fab fa-pinterest-p"></i>
            .footer--copyright Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies