.mobile
  .mobile--content
    h4.accent_caption.accent_caption-bottomSpace Mobile app
    h2.caption-slider.caption-slider-mobile Find. Follow. Favorite.
    p.mobile--details Save your favorites and share your style.
    a.mobile--button(href="#")
      img(src="assets/img/app-store.png", alt="app-store")
    a.mobile--button(href="#")
      img(src="assets/img/google-play.png", alt="google-play")